<?xml version="1.0"?>
<config>
    <modules>
        <Fooman_OrderManager>
            <version>3.0.9</version>
        </Fooman_OrderManager>
    </modules>

    <global>
        <models>
            <fooman_ordermanager>
                <class>Fooman_OrderManager_Model</class>
                <resourceModel>fooman_ordermanager_resource</resourceModel>
            </fooman_ordermanager>
            <fooman_ordermanager_resource>
                <class>Fooman_OrderManager_Model_Resource</class>
            </fooman_ordermanager_resource>
        </models>
        <blocks>
            <fooman_ordermanager>
                <class>Fooman_OrderManager_Block</class>
            </fooman_ordermanager>
        </blocks>
        <helpers>
            <fooman_ordermanager>
                <class>Fooman_OrderManager_Helper</class>
            </fooman_ordermanager>
        </helpers>
        <sales>
            <order>
                <statuses>
                    <processing_unpaid translate="label">
                        <label>Processing (Unpaid)</label>
                    </processing_unpaid>
                    <processing_invoiced_unpaid translate="label">
                        <label>Invoiced (Unpaid)</label>
                    </processing_invoiced_unpaid>
                    <processing_invoiced_paid translate="label">
                        <label>Invoiced (Paid)</label>
                    </processing_invoiced_paid>
                    <processing_shipped translate="label" module="sales">
                        <label>Shipped</label>
                    </processing_shipped>
                </statuses>
                <states>
                    <processing>
                        <statuses>
                            <processing_unpaid/>
                            <processing_invoiced_unpaid/>
                            <processing_invoiced_paid/>
                            <processing_shipped/>
                        </statuses>
                        <visible_on_front/>
                    </processing>
                </states>
            </order>
        </sales>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Fooman_OrderManager>
                    <files>
                        <default>Fooman_OrderManager.csv</default>
                    </files>
                </Fooman_OrderManager>
            </modules>
        </translate>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <fooman_ordermanager_adjust_grid_collection>
                        <type>singleton</type>
                        <class>Fooman_OrderManager_Model_Observer</class>
                        <method>adjustGridCollection</method>
                    </fooman_ordermanager_adjust_grid_collection>
                </observers>
            </sales_order_grid_collection_load_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <fooman_ordermanager_addmassbutton>
                        <type>singleton</type>
                        <class>Fooman_OrderManager_Model_Observer</class>
                        <method>addMassButton</method>
                    </fooman_ordermanager_addmassbutton>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <layout>
            <updates>
                <ordermanager>
                    <file>fooman_ordermanager.xml</file>
                </ordermanager>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fooman_OrderManager before="Mage_Adminhtml">Fooman_OrderManager</Fooman_OrderManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <ordermanager>
            <settings>
                <customtitle>Custom Value</customtitle>
                <preselectedcarrier/>
                <trackingnumbercharacterlengthtodisplay>20</trackingnumbercharacterlengthtodisplay>
                <displaycarriercolumn>1</displaycarriercolumn>
                <displaytrackingcolumn>1</displaytrackingcolumn>
                <displayshipping>1</displayshipping>
                <displayshippinginfo>1</displayshippinginfo>
            </settings>
            <invoiceaction>
                <enabled>1</enabled>
                <newstatus/>
                <sendemail>0</sendemail>
            </invoiceaction>
            <shipaction>
                <enabled>1</enabled>
                <newstatus/>
                <sendemail>0</sendemail>
            </shipaction>
            <captureaction>
                <enabled>0</enabled>
                <newstatus/>
                <sendemail>0</sendemail>
            </captureaction>
            <emailinvoiceaction>
                <enabled>0</enabled>
                <newstatus/>
            </emailinvoiceaction>
            <invoicecaptureaction>
                <enabled>0</enabled>
                <newstatus/>
                <sendemail>0</sendemail>
            </invoicecaptureaction>
            <invoiceshipaction>
                <enabled>1</enabled>
                <newstatus/>
                <sendinvoiceemail>0</sendinvoiceemail>
                <sendshipemail>0</sendshipemail>
            </invoiceshipaction>
            <shipandsendinvoiceemailaction>
                <enabled>0</enabled>
                <newstatus/>
                <sendshipemail>1</sendshipemail>
            </shipandsendinvoiceemailaction>
            <captureshipaction>
                <enabled>0</enabled>
                <newstatus/>
                <sendemail>0</sendemail>
            </captureshipaction>
            <invoicecaptureshipaction>
                <enabled>0</enabled>
                <newstatus/>
                <sendinvoiceemail>0</sendinvoiceemail>
                <sendshipemail>0</sendshipemail>
            </invoicecaptureshipaction>
        </ordermanager>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Fooman_OrderManager/>
            </modules>
        </suite>
    </phpunit>
</config>
