<?xml version="1.0"?>
<config>
    <modules>
        <Mage_Webpay>
            <version>0.1.0</version>
        </Mage_Webpay>
    </modules>
    <global>
        <models>
            <Webpay>
                <class>Mage_Webpay_Model</class>
                <resourceModel>Webpay_mysql4</resourceModel>
            </Webpay>
            <Webpay_mysql4>
                <class>Mage_Webpay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>Webpay_api_debug</table></api_debug>
                </entities>
            </Webpay_mysql4>
        </models>
        <resources>
            <Webpay_setup>
                <setup>
                    <module>Mage_Webpay</module>
                    <class>Mage_Webpay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Webpay_setup>
            <Webpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Webpay_write>
            <Webpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Webpay_read>
        </resources>
        <blocks>
            <Webpay><class>Mage_Webpay_Block</class></Webpay>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <Webpay_standard>/Webpay/standard</Webpay_standard>
        </secure_url>
        <routers>
            <Webpay>
                <use>standard</use>
                <args>
                    <module>Mage_Webpay</module>
                    <frontName>Webpay</frontName>
                </args>
            </Webpay>
        </routers>
        <translate>
            <modules>
                <Mage_Webpay>
                    <files>
                        <default>Mage_Webpay.csv</default>
                    </files>
                </Mage_Webpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Webpay>
                    <file>Webpay.xml</file>
                </Webpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Webpay>
                    <files>
                        <default>Mage_Webpay.csv</default>
                    </files>
                </Mage_Webpay>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Webpay>
                                            <title>Webpay Section</title>
                                        </Webpay>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <Webpay>

        </Webpay>
        <payment>

            <Webpay_standard>
                  <model>Webpay/standard</model>
                  <title>Webpay Standard</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
                  <order_status>pending</order_status>
				  <order_status>complete</order_status>
            </Webpay_standard>
        </payment>
    </default>
</config>
