<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_ReviewReminder>
            <version>1.1.0</version>
        </Mgt_ReviewReminder>
    </modules>
    <global>
        <models>
            <mgt_review_reminder>
                <class>Mgt_ReviewReminder_Model</class>
                <resourceModel>mgt_review_reminder_resource</resourceModel>
            </mgt_review_reminder>
            <mgt_review_reminder_resource>
                <class>Mgt_ReviewReminder_Model_Resource</class>
                <resourceModel>mgt_review_reminder_resource</resourceModel>
                <entities>
                    <mgt_review_reminder>
                        <table>mgt_review_reminder</table>
                    </mgt_review_reminder>
                    <mgt_review_reminder_item>
                        <table>mgt_review_reminder_item</table>
                    </mgt_review_reminder_item>
                    <mgt_review_reminder_history>
                        <table>mgt_review_reminder_history</table>
                    </mgt_review_reminder_history>
                </entities>
            </mgt_review_reminder_resource>
        </models>
        <blocks>
            <mgt_review_reminder>
                <class>Mgt_ReviewReminder_Block</class>
            </mgt_review_reminder>
            <mgt_review_reminder_adminhtml>
                <class>Mgt_ReviewReminder_Block_Adminhtml</class>
            </mgt_review_reminder_adminhtml>
        </blocks>
        <helpers>
            <mgt_review_reminder>
                <class>Mgt_ReviewReminder_Helper</class>
            </mgt_review_reminder>
        </helpers>
        <resources>
            <mgt_review_reminder_setup>
                <setup>
                    <module>Mgt_ReviewReminder</module>
                </setup>
            </mgt_review_reminder_setup>
        </resources>
        <template>
            <email>
               <mgt-commerce_mgt_review_reminder_mgt_review_reminder_general_settings_template translate="label" module="mgt_review_reminder">
                   <label>Review Reminder</label>
                   <file>mgt_review_reminder.html</file>
                   <type>html</type>
               </mgt-commerce_mgt_review_reminder_mgt_review_reminder_general_settings_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <add_reminder_for_shipment>
                        <class>mgt_review_reminder/observer</class>
                        <method>addReminderForShipment</method>
                    </add_reminder_for_shipment>
                 </observers>
            </sales_order_shipment_save_after>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt-commerce_mgt_review_reminder translate="title" module="mgt_review_reminder">
                                            <title>mgt-commerce</title>
                                        </mgt-commerce_mgt_review_reminder>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mgt_review_reminder>
                    <file>mgt_review_reminder.xml</file>
                </mgt_review_reminder>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mgtreviewreminder>
                <use>admin</use>
                <args>
                    <module>Mgt_ReviewReminder</module>
                    <frontName>mgtreviewreminder</frontName>
                </args>
            </mgtreviewreminder>
        </routers>
    </admin>
    <frontend>
        <routers>
           <mgt_review_reminder>
               <use>standard</use>
               <args>
                   <module>Mgt_ReviewReminder</module>
                   <frontName>mgt</frontName>
               </args>
           </mgt_review_reminder>
        </routers>
          <translate>
            <modules>
                <Mgt_ReviewReminder>
                    <files>
                        <default>Mgt_ReviewReminder.csv</default>
                    </files>
                </Mgt_ReviewReminder>
            </modules>
        </translate>
        <layout>
            <updates>
                <mgt_review_reminder>
                    <file>mgt_review_reminder.xml</file>
                </mgt_review_reminder>
            </updates>
        </layout>
    </frontend>
    <default>
        <mgt-commerce_mgt_review_reminder>
            <mgt_review_reminder_time_settings>
                <first_notification>7</first_notification>
                <second_notification>12</second_notification>
                <third_notification>0</third_notification>
            </mgt_review_reminder_time_settings>
            <mgt_review_reminder_general_settings>
                <identity>general</identity> 
                <template>mgt-commerce_mgt_review_reminder_mgt_review_reminder_general_settings_template</template> 
                <enabled>1</enabled> 
           </mgt_review_reminder_general_settings>
        </mgt-commerce_mgt_review_reminder>
    </default>
    <crontab>
        <jobs>
            <mgt_review_reminder_send>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>mgt_review_reminder/observer::sendReminders</model>
                </run>
            </mgt_review_reminder_send>
        </jobs> 
    </crontab>
</config>
