<?xml version="1.0"?>
<config>
	<modules>
		<GoMage_Xml>
			<version>1.0.0</version>
		</GoMage_Xml>
	</modules>
	<admin>
		<routers>
			<gomage_xml>
				<use>admin</use>
				<args>
					<module>GoMage_Xml</module>
					<frontName>gomage_xml</frontName>
				</args>
			</gomage_xml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<GoMage_Xml>
					<files>
						<default>Gomage_Xml.csv</default>
					</files>
				</GoMage_Xml>
			</modules>
		</translate>
		<layout>
			<updates>
				<gomage_xml>
					<file>gomage-xml.xml</file>
				</gomage_xml>
			</updates>
		</layout>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gomage_xml translate="title" module="gomage_xml">
                                            <title>Chilean XML Invoice</title>
                                        </gomage_xml>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
	<global>
		<blocks>
			<gomage_xml>
				<class>GoMage_Xml_Block</class>
			</gomage_xml>
		</blocks>
		<helpers>
			<gomage_xml>
				<class>GoMage_Xml_Helper</class>
			</gomage_xml>
		</helpers>
		<resources>
			<gomage_xml_setup>
				<setup>
					<module>GoMage_Xml</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</gomage_xml_setup>
			<gomage_xml_write>
				<connection>
					<use>core_write</use>
				</connection>
			</gomage_xml_write>
			<gomage_xml_read>
				<connection>
					<use>core_read</use>
				</connection>
			</gomage_xml_read>
		</resources>
	</global>
	<default>
		<gomage_xml>
			<settings>
				<next_starting_33>10</next_starting_33>
				<end_approved_33>1000</end_approved_33>
				<next_starting_39>20</next_starting_39>
				<end_approved_39>2000</end_approved_39>
			</settings>
			<company>
				<rut_field>76124329-2</rut_field>
				<company_name>Peta.cl SpA</company_name>
				<giro>Ventas al por menor via internet-2</giro>
				<ateco>523930</ateco>
				<direccion>Asturias 97</direccion>
				<comuna>Las Condes</comuna>
				<ciudad>Santiago</ciudad>
			</company>
		</gomage_xml>
	</default>
</config> 